/* Подключение Google Font Kosugi */
@import url('https://fonts.googleapis.com/css2?family=Kosugi:wght@400;500;700&display=swap');

:root {
  color-scheme: light;
  color: #111;
  background-color: #ffffff;
  font-family: 'Kosugi', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  margin: 0;
  padding-top: 64px; /* высота header */
  background: #fff;
  color: #111;
  box-sizing: border-box;
  font-family: inherit;
}